{
  "plugins": [
    "emotion",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "absoluteRuntime": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
